* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  background-image: url(../css/img/HDRshooter-4K-wallpaper-053-3840x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.678);
}

.App {
  text-align: center;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 3em 3em 3em 1em;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-time,
.temp,
.weather {
  margin: 0.3em 3em;
}

.city-time h1 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 3em;
  margin-left: 0.4em;
}

h1.temp {
  font-size: 7em;
  margin: 0;
}

.weather img {
  display: block;
  margin: -0.5em 2em;
  margin-top: 2em;
}

div.date {
  padding: 0.5em;
  display: block;
  margin-bottom: -5em;
  margin-left: -9em;
}

.row {
  margin-top: 15em;
  margin-right: 10em;
}

.Forecast-icon {
  padding: 0.3em;
}

.panel {
  position: absolute;
  width: 32%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(12, 12, 12, 0.836);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(167, 157, 157, 0.281);
}

.col {
  padding: 1rem;
  margin: auto;
  border-top: 1.5px solid rgba(167, 157, 157, 0.281);
  border-radius: 1%;
}

.container-weather {
  margin-top: 14em;
}

.select-container {
  font-family: "Rubik", sans-serif;
}

select {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 28%;
  z-index: 1;
  position: absolute;
  margin-right: 1em;
  margin: 1em;
  letter-spacing: 0.5px;
  right: 0;
  font-weight: bold;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.623);
}

select:focus {
  outline: none;
}

select option {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.808);
  border: none;
  font-weight: bold;
  padding: 0 1em 0.5em 0;
}

.columns {
  margin-left: 4%;
  margin-bottom: 1.5%;
  flex-wrap: wrap;
  gap: 0.9em;
}

.col_1 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 20%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.col_2 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 20%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);

}

.col_3 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 20%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  
}

.col_4 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 20%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  border-radius: 20%;
}

.col_5 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 20%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  border-radius: 20%;
}

.col_1:hover {

  background-color: rgba(204, 204, 204, 0.199);
  transition: all 1s;
}

.col_2:hover {
 
  background-color: rgba(204, 204, 204, 0.199);
  transition: all 1s;
}

.col_3:hover {
 
  background-color: rgba(204, 204, 204, 0.199);
  transition: all 1s;
}

.col_4:hover {
  
  background-color: rgba(204, 204, 204, 0.199);
  transition: all 1s;
}

.col_5:hover {

  background-color: rgba(204, 204, 204, 0.199);
  transition: all 1s;
}

/*Responsive design */

@media screen and (max-width: 1200px) {
  .panel,
  .container {
    position: relative;
    width: 100%;
    top: initial;
  }
}
@media screen and (max-width: 700px) {
  .panel,
  .container {
    position: relative;
    width: 100%;
    top: initial;
  }
}

@media screen and (max-width: 1200px) {
  h1.temp,
  h1.city-time {
    font-size: 5em;
  }
}

@media screen and (max-width: 1000px) {
  h1.temp,
  h1.city-time {
    font-size: 2em;
  }

  @media screen and (max-width: 900px) {
    h1.name {
      font-size: 2em;
    }
  }
}
@media screen and (max-width: 800px) {
  h1.city-time {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  h1.temp,
  h1.city-time {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #777;
  }
}

@media screen and (max-width: 1080px) {
  body {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #777;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: #777;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  select {
    left: 0;
    width: 36%;
    margin-left: 5%;
  }
}
